.variant-listing-container {
  background: linear-gradient(180deg, #fff 0%, #f7f7f7 30.15%);
  position: relative;
  padding-top: 40px;
}

.cta__container .button-secondary-light:hover {
  color: var(--secondary-white);
  background-color: var(--primary-blue-700);
  border: 1px solid var(--primary-blue-700);
}

.section.slider-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container__slider {
  position: relative;

  /* max-width: 1000px; */
  margin: auto;
  overflow: hidden;
  width: 100%;
  padding-top: 50px;
}

.container__slider .variant__content {
  display: flex;
  flex-direction: column;
}

.container__slider .slider__tabContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container__slider .slider__tabContent .tab__Iteam {
  cursor: pointer;
  font-family: var(--primary-font-arena);
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: #000;
  text-transform: uppercase;
}

.container__slider .slider__tabContent .tab__active {
  font-weight: 600;
  color: #171c8f;
}

.container__slider .slider__tabContent .tab__Iteam__saperator {
  cursor: pointer;
  font-family: var(--primary-font-arena);
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: #000;
  margin-left: 10px;
  margin-right: 10px;
}

.container__slider .variant__card .variant__title p {
  font-family: var(--primary-font-arena);
  margin: 0;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 800;
  line-height: 22.4px;
}

.container__slider .variant__card .variant__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__slider .variant__card .variant__description {
  margin-top: 24px;
}

.container__slider .variant__card .variant__description p {
  font-family: var(--body-font-arena);
  font-weight: 600;
  margin: 0;
  padding-bottom: 20px;
  font-size: 12px;
  line-height: 16.8px;
}

.container__slider .variant__card .variant__price {
  border: 0.5px solid #000;
  padding: 12px;
}

.container__slider .variant__card .variant__price p {
  font-family: var(--body-font-arena);
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  padding: 0;
  margin: 0;
}

.container__slider .variant__card .variant__price p span {
  font-family: var(--primary-font-arena);
  font-weight: 700;
  line-height: 18px;
  font-size: 14px;
}

.container__slider .variant-content {
  position: relative;
  overflow: hidden;
  padding-top: 35px;
}

.container__slider .variant__cards {
  display: flex;
  transition: transform 0.5s ease-in-out;
  position: relative;
}

.container__slider .variant__card {
  /* flex: 0 0 100%; */
  flex: 0 0 33.3333%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  overflow: hidden;
  position: relative;
}

.container__slider .variant__card .variant__image {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden !important;
}

.container__slider .variant__card .variant__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}

.button__content {
  position: absolute;
  inset: 0;
}

.container__slider .cta__container {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}

.container__slider .cta__container a {
  width: fit-content;
  background-color: inherit;
}

.container__slider .cta__container a:hover {
  border: 0;
  background: none;
  color: #000;
}

.container__slider .cta__container a::before {
  content: "\25B6";
  position: absolute;
  top: 7px;
  left: 0;
}

.nav-arrow_variant.next_variant,
.nav-arrow_variant.prev_variant {
  right: 0;
  top: 52%;
  color: #171c8f;
  border: 1px solid var(--blue, #171c8f);

  /* background-color: #fff; */
  height: 40px;
  width: 40px;
  font-size: 25px;
}

.nav-arrow_variant {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.nav-arrow_variant.prev_variant {
  left: 0%;
  top: 52%;
  height: 40px;
  width: 40px;
  font-size: 25px;
  background-image: url("../../icons/slider-arrow-left-white.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.nav-arrow_variant.next_variant {
  background-image: url("../../icons/slider-arrow-right-white.svg");

  /* background-image: url("../../icons/arrow_forward_blue.svg"); */
  background-repeat: no-repeat;
  background-position: center;
  right: 0%;
}

/* Responsive adjustments */
@media (width >=600px) {
  .container__slider .variant__card {
    flex: 0 0 50%;
  }
}

@media (width >=999px) {
  .variant-listing-container {
    padding-top: 106px;
  }

  .container__slider {
    padding-top: 112px;
  }

  .container__slider .variant__card {
    flex: 0 0 33.3333%;
    overflow: hidden;
  }

  .container__slider .slider-title {
    font-size: 160px;
    line-height: 160px;
  }

  .container__slider .variant-content {
    padding-top: 65px;
  }

  .hide {
    display: none !important;
  }

  .container__slider .variant__card .variant__title p {
    font-size: 24px;
    line-height: 33.6px;
  }

  .container__slider .variant__card .variant__description p {
    font-size: 14px;
    line-height: 19.6px;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(
      90deg,
      rgb(0 0 0 / 0%) 0%,
      #000 50.5%,
      rgb(0 0 0 / 0%) 100%
    );
    border-image-slice: 1;
  }

  .container__slider .variant__card .variant__price {
    border: none;
  }

  .container__slider .variant__card .variant__price p {
    font-size: 14px;
    line-height: 19.6px;
    padding-top: 20px;
  }

  .container__slider .variant__card .variant__price p span {
    font-size: 16px;
  }

  .container__slider .cta__container {
    flex-direction: row;
    margin: 64px 0;
  }

  .container__slider .cta__container a {
    background-color: var(--primary-blue-700);
    color: var(--secondary-white);
    border: 1px solid var(--primary-blue-700);
    padding: 0.8rem 1rem;
    font-size: 0.9rem;
  }

  .container__slider .cta__container a:hover {
    color: var(--primary-blue-700);
    background-color: var(--secondary-white);
    border: 1px solid var(--primary-blue-700);
  }

  .container__slider .cta__container a.button-secondary-light {
    color: var(--primary-blue-700);
    background-color: var(--secondary-white);
    border: 1px solid var(--primary-blue-700);
    text-transform: uppercase;
  }

  .container__slider .cta__container a.button-secondary-light:hover {
    color: var(--secondary-white);
    background-color: var(--primary-blue-700);
    border: 1px solid var(--primary-blue-700);
    text-transform: uppercase;
  }

  .container__slider .cta__container a::before {
    content: "";
  }

  .nav-arrow_variant.next_variant {
    background-image: url("../../icons/slider-arrow-blue.svg");
    background-repeat: no-repeat;
    background-position: center;
    right: 2%;
    top: 50%;
  }

  .nav-arrow_variant.prev_variant {
    background-image: url("../../icons/slider-arrow-blue-left.svg");
    background-repeat: no-repeat;
    background-position: center;
    left: 2%;
    top: 50%;
  }

  .nav-arrow_variant.prev_variant.disabled {
    background-image: url("../../icons/slider-arrow-left-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
  }

  .nav-arrow_variant.next_variant.disabled {
    background-image: url("../../icons/slider-arrow-right-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
  }

  .nav-arrow_variant.next_variant.disabled,
  .nav-arrow_variant.prev_variant.disabled {
    background-color: #b8b8b8;
    color: #fff;
    border-color: #b8b8b8;
    pointer-events: none;
  }

  .nav-arrow_variant.next_variant,
  .nav-arrow_variant.prev_variant {
    right: 2%;
    top: 50%;
  }
}

/* Show 1.5 slides on mobile */
@media (width <=600px) {
  .container__slider .variant__card {
    flex: 0 0 100%;
  }
}

@media (width <=999px) {
  .container__slider .cta__container a {
    font-size: 12px;
    font-weight: 600;
    line-height: 16.8px;

    /* background-color: #fff; */
    color: #000;
    border: none;
    text-transform: uppercase;
  }

  .nav-arrow_variant.next_variant,
  .nav-arrow_variant.prev_variant {
    background-color: #000;
    color: #fff;
  }

  .nav-arrow_variant.next_variant.disabled,
  .nav-arrow_variant.prev_variant.disabled {
    background-color: #b8b8b8;
    color: #fff;
    border-color: #b8b8b8;
    pointer-events: none;
  }
}

@media (width <=999px) {
  .container__slider .cta__container a {
    font-size: 12px;
    font-weight: 600;
    line-height: 16.8px;

    /* background-color: #fff; */
    color: #000;
    border: none;
    text-transform: uppercase;
  }

  .nav-arrow_variant.next_variant,
  .nav-arrow_variant.prev_variant {
    background-color: #000;
    color: #fff;
  }

  .nav-arrow_variant.next_variant.disabled,
  .nav-arrow_variant.prev_variant.disabled {
    background-color: #b8b8b8;
    color: #fff;
    border-color: #b8b8b8;
    pointer-events: none;
  }
}
